:root {
    --color-primary: rgba(71, 77, 84, 0.8);
    --color-primary-shadow: rgba(104, 126, 134, 0.16);
    --color-black: #000000;
    --color-white: #ffffff;
    --color-light-grey: #cbc8c8;
    --color-grey: #a4a4a4;
    --button-radius: 35px;
    --font-ubuntu: "Ubuntu", sans-serif;
    --font-roboto-mono: "Roboto Mono", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-roboto-mono);
}

a {
    text-decoration: none;
}

h2 {
    font-family: var(--font-ubuntu);
    font-size: 2.25rem;
}

/**
 * Helpers primereact flex css
 */
.p-galleria-thumbnail-items-container {
 background-color: var(--color-light-grey);
}
/**
 * Helpers
 */
.container {
    max-width: 1352px;
    width: 80%;
    margin: 0 auto;
}


.btn {
    color: var(--color-white);
    font-weight: bold;
    display: inline-block;
    padding: 16px 65px;
    border-radius: var(--button-radius);
    border: none;
}

.btn--primary {
    background-color: var(--color-primary);
    border-radius: var(--button-radius);
    box-shadow: 3px 10px 14px var(--color-primary-shadow);
}


.btn--large {
    padding: 22px 100px;
}


/**
 * Header
 */


.header {
    height: 150px;
}

.header__container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 100%;
}

.header__nav {
    display: flex;
}

.nav__element {
    padding: 0 26px;
    text-wrap: nowrap;
}

.nav__element:last-child {
    padding-right: 0;
}

.nav__link {
    color: var(--color-grey);
    font-weight: 700;
    font-size: 0.6875rem;
    text-transform: uppercase;
    padding: 28px 18px 22px;
    border-bottom: 4px solid transparent;
    letter-spacing: 0.1875rem;
}

.nav__link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}
.logo_header {
    width: 55px;
    height: 55px;
    justify-content: flex-start;

}
.name_header {
    font-family: var(--font-roboto-mono);
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-primary);
    /* margin-left: -200px; */
}
/**
 * Opening section
 */
.opening {
    height: 560px;
    background-image: url("../images/gate.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.opening__content {
    /* margin-top: 130px; */
    text-align: center;
}

.opening__header {
    font-family: var(--font-raleway);
    font-size: 3.0625rem;
}

.opening__heading {
    margin-top: 20px;
    margin-bottom: 38px;
}

/**
 * Offers Section
 */
.offers {
    padding: 50px 0;
    background-color: var(--color-light-grey);
}

.offers__container {
    /* padding: 0 100px; */
}

.offers__single {
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 5px;
    margin: 30px;
}

.offers__text {
    box-sizing: content-box;
    max-width: 415px;
    /* margin: 90px 36px; */
}

.offers__text::after {
    content: "";
    max-width: 335px;
    height: 4px;
    background-color: var(--accent-color);
    display: block;
    margin-top: 50px;
}

.offers__description {
    margin-top: 30px;
    line-height: 1.375rem;
}

.offers__image {
    position: static;
    align-items: center;
    justify-content: center;
}

.offers__image img {
    position: relative;
}

.offers__single--brama {
    --accent-color: var(--color-primary);
}

.offers__single--brama .offers__image {
    /* margin-right: 117px;
    margin-bottom: 37px; */
}


.offers__single--brama .offers__image img {
    max-width: 430px;
    height: auto;

}


.offers__single--balustrady {
    --accent-color: var(--color-primary);
    flex-direction: row-reverse;
    /* padding: 0 20px 0 70px; */
}

.offers__single--balustrady .offers__image {
    /* margin-left: 30px;
    margin-bottom: 17px; */
}

.offers__single--balustrady .offers__image img {
    max-width: 430px;
    height: auto;
}

.offers__single--balustrady .offers__text {
    /* margin: 70px 0; */
}

.offers__double {
    --accent-color: var(--color-green);
    display: flex;
}

.offers__double > div {
    margin-bottom: 0;
}

.offers__single--solo {
    max-width: 620px;
}

.offers__single--solo .offers__text {
    max-width: none;
    /* margin: 70px 35px; */
}

.offers__single--image {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border: none;
    margin-left: 60px;
}

.offers__single--image img {
    max-width: 430px;
    height: auto;
    /* margin-top: 55px; */
}
/** footer

 */
/*footer*/
.page_footer {
    height: 120px;
    background: var(--color-white);
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
}
.page_footer .footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.page_footer_nav_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
}
.page_footer_nav_list li {
    margin-left: 60px;
    margin-top: 8px;
}
.page_footer_nav_list a {
    text-decoration: none;
    color: #8E9696;
}
.page_footer_nav_list a:hover {
    color: var(--color-redish);
}
.name_footer {
    font-family: var(--font-roboto-mono);
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-primary);
    /* margin-left: 1100px; */
}
.logo_footer {
    width: 55px;
    height: 55px;
    /* margin-right: 100px; */

}
/**
 * Contact
 */

.contact {
    padding: 80px 100px 100px;
    display: flex;
    justify-content: center;
}

.contact__column {
    width: 50%;
}

.contact__title {
    font-size: 3.0625rem;
    line-height: 3.6875rem;
}

.contact__instruction {
    margin: 22px 0 42px;
    font-size: 1rem;
    line-height: 1.375rem;
}

.contact__details {
    display: flex;
    justify-content: flex-start;
    color: var(--color-grey);
    align-items: center;
}

.details__item {
    color: var(--color-grey);
    font-weight: 500;
    text-decoration: none;
}

.details__item:first-of-type {
    margin-right: 20px;
}

.details__item img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

/**
 * Form
 */
.form {
    display: flex;
    flex-direction: column;
}

.form__field {
    display: flex;
    flex-direction: column;
}

.form__field:first-of-type {
    margin-bottom: 42px;
}

.form__label {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-primary);
    line-height: 0.9rem;
    letter-spacing: 3px;
    font-size: 0.6875rem;
}

.form__input {
    border: none;
    border-bottom: 1px solid var(--color-grey);
    background-color: transparent;
    line-height: 2.625rem;
}

.form__consent {
    margin-top: 30px;
}

.form__checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.375rem;
}

.form__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.form__checkbox .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--color-white);
    border: 1px solid var(--color-grey);
    border-radius: 4px;
}

.form__checkbox input:checked ~ .checkbox {
    background-image: url(../images/logo_header.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.form__checkbox .consent__text {
    margin: 0 10px;
    font-size: 0.75rem;
    color: var(--color-grey);
    line-height: 17px;
}

.form .btn {
    font-size: 0.8125rem;
    padding: 20px 97px;
    align-self: flex-end;
    margin-top: 20px;
}


.service-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.service-card h1 {
    font-weight: bold;
}

.price {
    color: grey;
    font-size: 22px;
}

.service-card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #a4a4a4;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
} 

.service-card button[liked="true"] {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    /* background-color: #a4a4a4; */
    background-color: #252525;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
} 

.service-card button:hover {
    opacity: 0.7;
}